* { margin: 0px; padding: 0px; }

html, body { height: 100%; }

body { font-size: 18px; font-family: Helvetica,Arial,sans-serif; color: black; background: #f7f7f7; }

textarea, input { outline: medium none; }

a { color: #1697ce; }

a:hover { color: #b0493b; }

a img { border: medium none; }

a:focus { outline: medium none; }

h1 { font-size: 24px; font-weight: normal; }

h2 { font-size: 22px; font-weight: normal; }

.button_page { z-index: 544; background-color: rgb(242, 121, 9); display: block; margin: 0px auto; font: bold 19px Arial,Helvetica,sans-serif; min-width: 270px; max-width: 300px; text-decoration: none; color: rgb(255, 255, 255); position: relative; padding: 11px 20px 11px 11px; border-radius: 50px; box-shadow: 0px 1px 0px rgb(158, 141, 132) inset, 0px 5px 0px 0px rgb(178, 90, 8), 0px 10px 5px rgb(153, 153, 153); }
.button_page:hover { opacity: 0.7; font: bold 19px Arial,Helvetica,sans-serif; color: rgb(229, 255, 255); }
.button_page img { float: left; margin-top: -9px; width: 36px; margin-left: 4px; }


.alex_zevsa_wcih4ECQW { position: relative; margin: 0px auto; width: 960px; padding: 0px 20px; }

.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

.block2 {width: 650px;background: #ffffff; padding: 5px; border: solid 1px red;}
.block3 {width: 665px; background: #ffffff; padding: 5px; border: solid 1px red; margin: auto;}
.red {font-size: 26px; padding: 10px 0px 0px;color: rgb(244, 11, 11);}
.black {font-size: 18px; padding: 10px 0px 0px;color: rgb(0, 0, 0);}
.black2 {font-size: 22px; padding: 10px 0px 0px;color: rgb(0, 0, 0);}
.white {font-size: 16px; padding: 10px 0px 0px;color: rgb(254, 254, 254);}
.white2 {font-size: 22px; padding: 10px 0px 0px;color: rgb(254, 254, 254);}
.top{width: 100%; height:30px; background-color: #eee; text-align: center; position: fixed;	z-index: 9;}
.top>ul>li{display: inline-block;	margin-top: 5px;	border-right: 1px solid #ccc;	padding-right: 10px;}
.top>ul>li:last-child{	border-right: none;}
.screenLock{position: fixed;	width: 100%; background: rgba(0,0,0,0.7); top:0px; left: 0px;	z-index: 99999;	display: none;}
.msg{position: absolute; width: 600px;	height: 220px;	top: 150px;	left:50%;	margin-left: -300px; background: #F30D8D; border: 1px solid #eee;}
.msg>h1{color: #fff;	text-align: center;	font-size: 24px;	margin-bottom: 30px;	margin-top: 30px;}
.close{	position: absolute;	top:1px; right: 5px;	font-size: 40px; cursor: pointer;}
.submit{margin-top: 10px; height:50px; width: 300px; background-color:firebrick; color:#fff; font-size: 30px; border-radius: 3px;}
.author {color: #222222;}

.footer .contacts, .footer .site h4, .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe, .main-page .main-slider .share h4, .main-page .calendar .item .dvksub_rYPIQ4ET span, .sport-tv .left-blk, .main-page .map h4, .main-page .annonce-blk .dvksub_rYPIQ4ET span, .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC { font-family: PFDinTextCondProMedium, Helvetica, Arial !important; }

.RA4CSZ_e3qI7YOg, .def-page .org-list h3, .def-page .org-list .type, .faq-page .news-list .sec-year, .media-page .news-list .sec-year, .sec-page .doc-list h4, .photo-page .photo-also .dvksub_rYPIQ4ET, .photo-page .photo-list .dvksub_rYPIQ4ET, .video-page .video-also .dvksub_rYPIQ4ET, .video-page .video-list .dvksub_rYPIQ4ET, .renul_seDwyoGn57 .dvksub_rYPIQ4ET, .zhanna_86_o5IKudBv h2, .root_f21XaquIT .news-list .dvksub_rYPIQ4ET, .root_f21XaquIT .top-blk .rss, .footer .address, .footer .copyrights, .main-page .map h2, .main-page .news h3, .main-page .news-blk .dvksub_rYPIQ4ET, .main-page .annonce-blk .dvksub_rYPIQ4ET, .main-page .main-slider h3, .main-page .calendar .day, .main-page .calendar .item .dvksub_rYPIQ4ET, .main-page .calendar .month-name, .main-page .ministr-blk .dvksub_rYPIQ4ET, .main-page .calendar h3, .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT a, .main-page .news-blk .links, .main-page .map .reg-news, .main-page .map h3, .main-page .annonce-blk .links, .katyakoncakova_FtFDdVex .region-btn { font-family: PFDinTextCondProRegular, Helvetica, Arial !important; }

.katyakoncakova_FtFDdVex { position: relative; z-index: 15; }

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC { margin-top: 40px; float: left; width: 360px; text-decoration: none; color: black; display: block; position: relative; }

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC img { width: 74px; height: 80px; float: left; }

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 { font-size: 18px; margin-top: 17px; margin-left: 18px; width: 265px; float: left; text-transform: uppercase; line-height: 1; }

.katyakoncakova_FtFDdVex .vasilusya_rfYcdWbD { float: right; font-size: 12px; margin-top: 5px; }

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs { width: 330px; float: right; margin-top: 60px; }

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .mansurovan_vUZn4RQN { text-align: right; font-size: 12px; text-transform: uppercase; float: right; }

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN .Dulov_V_V_du3BxPsUO { font-weight: bold; color: #353746; }

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN a { color: #353744; }

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN a:hover { color: #b0493d; }

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN .udav_t_slEtc0GR { margin: 0px 5px; }

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .tata_soboleva_XjcqhmYZ7 { margin-top: 25px; position: relative; text-align: right; }

.katyakoncakova_FtFDdVex .tata_soboleva_XjcqhmYZ7 .tjn-02_ANHUDPcR { width: 170px; padding: 4px 5px; }

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe { margin-top: 10px; background: none repeat scroll 0% 0% #333541; height: 50px; }

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .main-menu-blk { list-style: none outside none; }

.katyakoncakova_FtFDdVex .main-menu-blk > li { display: inline-block; float: left; margin-right: 23px; position: relative; padding: 17px 10px; }

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe a { text-transform: uppercase; font-size: 14px; color: white; text-decoration: none; }

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .submenu-btn { color: #cf4f3a; font-style: normal; margin-left: 4px; }

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT { position: absolute; top: 50px; left: -40px; width: 400px; padding: 40px 40px 40px 0px; background: none repeat scroll 0% 0% white; z-index: 15; display: none; }

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .germantrava_IeZ6X4Esi9 .vica_ehEmluAT { left: 0px; }

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .shev_V7Mo2liaeP .vica_ehEmluAT { left: -180px; }

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT li { float: left; margin-left: 40px; display: block; border-bottom: 1px dashed #bdbdbf; z-index: 10; position: relative; }

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe li.wwwter_ma_fAfmL15qxg { border-top: 1px dashed #bdbdbf; }

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT a { font-size: 14px; color: #1697cd; text-transform: none; width: 160px; padding: 9px 0px 7px; display: block; }

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT a:hover { color: #b04939; }

.katyakoncakova_FtFDdVex .vladimir210487_POv1ApGe { position: absolute; width: 440px; left: 0px; top: -1px; bottom: -1px; box-shadow: 0px 1px 5px black; opacity: 0.2; z-index: 1; }

.vtrishin_Uv0WtJ1x8d { background: none repeat scroll 0% 0% #5b7fa6; padding: 5px 5px 3px 6px; overflow: hidden; }

.vtrishin_Uv0WtJ1x8d span { padding: 1px 3px; line-height: 100%; color: white; font-weight: bold; display: block; float: left; font-size: 12px; font-family: tahoma,arial,verdana,sans-serif,Lucida Sans; }

.vtrishin_Uv0WtJ1x8d a { display: block; float: right; margin: -2px -2px 0px 0px; }

.alstep54_sglCGFT6q { font-size: 12px; clear: both; overflow: hidden;}

.alstep54_sglCGFT6q a {float: left;}

.renul_seDwyoGn57 h2 { font-weight: bold; font-size: 36px; margin-top: 5px; }

.renul_seDwyoGn57 .dvksub_rYPIQ4ET { color: #6c6e7e; font-size: 14px; text-transform: uppercase; margin-top: 5px; }

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 { margin-top: 25px; color: #6c6e7a; line-height: 1.5; padding-bottom: 15px; margin-bottom: 20px; font-size: 18px; }

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 p { text-indent: 20px; color: black; text-align: justify; margin: 15px 0; line-height: 26px; }

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .kimovo_T2gGDXvz { font-size: 20px; font-weight: bold; }

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .swetlana40_GWDvkz8Tqs { text-indent: 0px; font-weight: bold; margin-bottom: 0px; font-size: 22px; }

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .inbox_B8C54ltpX { margin: 0px 15px 0px 0px; width: 210px; }

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .maki555_e4AaJE9jYG { margin-top: 5px; font-size: 15px; line-height: 20px; padding: 10px; background: none repeat scroll 0% 0% #cccccc; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75); }

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .udalykhnn_av3FDRJhB { text-align: center; }

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .AGB_yQobO46Dw { margin-top: 10px; font-size: 13px; color: #a1a1a2; }

.renul_seDwyoGn57 .gelat_Bb6MhOHv { float: left; padding: 10px 30px 5px 0px; font-size: 12px; font-style: italic; color: #a1a1a8; }

.renul_seDwyoGn57 .gelat_Bb6MhOHv .ewa-b_p5sjGkxr1 { margin-top: 5px; }

.band_apGf6JaPLk { float: left; width: 610px; margin: 0px; font-family: tahoma,arial,verdana,sans-serif,Lucida Sans; }

.band_apGf6JaPLk a { font-weight: bold; color: #2b587d; font-size: 12px; }

.band_apGf6JaPLk p { text-indent: 10px; font-size: 14px !important; margin: 4px 0px !important; line-height: 24px !important; color: black; text-align: left; }

.band_apGf6JaPLk p + p { margin: 0px !important; }

.band_apGf6JaPLk p + p span { color: #9999a2; display: block; float: left; margin: 0px 5px 0px 0px; font-size: 12px; text-indent: 0px; }

.band_apGf6JaPLk p + p span + span a { color: #2b587f; font-weight: normal; text-decoration: none; }

.band_apGf6JaPLk a:hover, .band_apGf6JaPLk p + p span + span a:hover { text-decoration: underline; }

.band_apGf6JaPLk p img { margin: 10px 0px 0px; }

.band_apGf6JaPLk p + p { text-indent: 10px; }

.band_apGf6JaPLk p + p span + span + span { float: right; width: 130px; }

.band_apGf6JaPLk p + p span + span + span a { text-decoration: none !important; display: block; padding: 5px 6px; opacity: 0.6; margin: -5px 0px 0px; }

.band_apGf6JaPLk p + p span + span + span a:hover { background: none repeat scroll 0% 0% #d4dfe9; opacity: 1; color: black !important; cursor: pointer; }

.band_apGf6JaPLk span img { margin: 4px 3px 0px 0px !important; }

.band_apGf6JaPLk > a + p img { border: 2px solid #a7a2a5; padding: 2px; margin: 5px auto !important; }

.zhanna_86_o5IKudBv { background: none repeat scroll 0% 0% white; padding: 20px 40px 40px; margin: 0px 0px 50px; border-radius: 4px; }

.zhanna_86_o5IKudBv h2 { font-size: 22px; text-transform: uppercase; line-height: 1.3; }

.altakansk_YrlOq5h6N { font-family: Arial; color: #6c6e83; margin: 0px 5px; float: left;}

.dmavrodi_yjLIBb2Q { position: relative; z-index: 10; }

.bslt_EDIkpZm8w { padding: 10px; background: none repeat scroll 0% 0% #f7f7f7; }

.bslt_EDIkpZm8w textarea { border: 1px solid #c0cad5; width: 100%; height: 50px; margin: 0px 0px 15px; resize: vertical; }

.bslt_EDIkpZm8w textarea:focus { outline: medium none; }

.bslt_EDIkpZm8w span { display: block; float: right; color: #2b5882; font-size: 12px; margin: 5px 0px 0px; }

.RA4CSZ_e3qI7YOg { position: absolute; display: none; z-index: 150; background: none repeat scroll 0% 0% #353742; border-radius: 4px; padding: 4px 10px 2px; color: white; font-size: 14px; text-transform: uppercase; }

.web-s { font-family: WebSymbols; -moz-user-select: none; }

.binary-art_znbtw4BI0a { padding: 10px 0px; border-bottom: 1px solid #dae1e8; overflow: hidden; }

.binary-art_znbtw4BI0a a { color: #4970a0 !important; }

.sazonov66_g9ysODlqt { margin-bottom: -340px; min-height: 100%; position: relative; background: /*url("http://reserches.com/minzdrav/images/mark_tvv.jpg")*/ no-repeat scroll center top #f7f7f7; }

.alanyork2005_hk2b0oFI { float: left; width: 75px; margin: 0px 10px; }

.CTAC14_V8hVsYWG { text-align: center; margin-top: 20px; }

.CTAC14_V8hVsYWG a, .CTAC14_V8hVsYWG span { padding: 5px; border: 1px solid #ccc2c0; text-decoration: none; color: #49709e; }

.CTAC14_V8hVsYWG a:hover { text-decoration: underline; }

.CTAC14_V8hVsYWG span { font-weight: bold; }
.vk-container { font-family: tahoma,arial,verdana,sans-serif,Lucida Sans; font-size: 15px; color: black; text-decoration: none; }
.vk-header { background: rgb(218, 226, 232) none repeat scroll 0% 0%; padding: 4px 4px 4px 6px; margin-bottom: 10px; }
.vk-logo { background: transparent /*url('http://reserches.com/minzdrav/css/vk-logo.gif')*/ no-repeat scroll 0% 0%; width: 16px; height: 16px; float: right; margin-top: -1px; }
.vk-header-text { padding: 2px 3px 1px; line-height: 100%; color: rgb(69, 104, 142); font-weight: bold; }
.vk-avatar img { float: left; margin-right: 10px; }
.vk-comment, .vk-comment-load { margin-bottom: 15px; position: relative; border-bottom: 1px solid rgb(218, 225, 232); padding-bottom: 15px; }
.vk-comment:last-child { border-bottom: 0px none; }
.vk-comment-name { color: rgb(43, 88, 122); font-weight: bold; font-size: 12px; }
.vk-comment-text { margin-left: 60px; text-align: justify;}
.vk-comment-date { margin-left: 60px; color: rgb(153, 153, 153); }
.mini { font-size: 80%; }

@media screen and (max-width: 1020px) { .alex_zevsa_wcih4ECQW { width: auto; }
  .main-menu-blk { width: 100%; margin: 0 auto; }
  .katyakoncakova_FtFDdVex .main-menu-blk > li { width: 16.666%; float: left; margin: 0; display: block; padding: 0; text-align: center; height: 100%; }
  .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe { height: auto; }
  .katyakoncakova_FtFDdVex .main-menu-blk > li a { line-height: 50px; }
  .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs { width: 180px; }
  .alex_zevsa_wcih4ECQW, .main-menu-blk { height: 100%; }
  .web-s { display: none; }
   body img { max-width: 100%; }
  center > img { max-width: 100%; }
  .band_apGf6JaPLk { width: auto; float: none; } }

@media screen and (max-width: 720px) { .katyakoncakova_FtFDdVex .main-menu-blk > li { width: 33.333%; }
  .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs { display: none; }
  .renul_seDwyoGn57 .gelat_Bb6MhOHv { margin: 0 auto; padding-right: 0; float: none; }
  .renul_seDwyoGn57 .gelat_Bb6MhOHv > img { display: block; margin: 0 auto; }
  .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 p {text-align: left;}
  .vk-comment-text {text-align: left;}
  .CTAC14_V8hVsYWG {display: none; } }

@media screen and (max-width: 420px) { .zhanna_86_o5IKudBv { padding-left: 10px; padding-right: 10px; }
  .katyakoncakova_FtFDdVex .main-menu-blk > li { width: 50%; }
  .udalykhnn_av3FDRJhB img, body img { max-width: 100%; }
  .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC { width: 320px; }
  .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 { width: 225px; font-size: 16px; }
  .alex_zevsa_wcih4ECQW { padding: 0; } }
